.pagination {
  width: 80%;
  height: 100px;
  margin: 15px auto;
  border-top: 1px solid #eaeaea;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}


.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 15px;
  outline: none;
  cursor: pointer;
}


